.product-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.product-info {
  padding: 25px;
}

.product-category {
  background: #d1fae5;
  color: #065f46;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.product-info h2 {
  margin-top: 18px;
  font-size: 28px;
}

.product-info p {
  margin-top: 15px;
  color: gray;
  line-height: 1.7;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.price {
  color: #1b8f3f;
  font-size: 28px;
  font-weight: bold;
}

.product-bottom button {
  background: #1b8f3f;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
}

.product-bottom button:hover {
  background: #13682d;
}